<div class="category-cell">
    <div class="category-cell-name">
        <input matInput placeholder="Category name" [(ngModel)]="this.category.name">
    </div>  
    <div class="category-cell-actions">
        <button mat-raised-button (click)="updateCategory()" color="primary">
            <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
        </button>

        <button mat-raised-button (click)="deleteCategory()" color="warn">
            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
        </button>
    </div>  
</div>


