@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Structure */
table {
width: 100%;
}

.mat-form-field {
font-size: 14px;
width: 100%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-container {
  overflow: auto;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}